/*body { margin: 10%; }*/
body { 
  background-image: url("https://raw.githubusercontent.com/montanafowler/leilah_website/main/images/crumpled_paper.jpg");
  background-color: #cccccc; 
}
* {
  box-sizing: border-box;
}

#tag_menu_image {
  width: 200px;
}

ul {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

li {
  height: 40vh;
  flex-grow: 1;
}

.person_collage {
  max-height: 100%;
  /*min-width: 100%;*/
  /*object-fit: cover;*/
  /*vertical-align: bottom;*/
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  /*background-color: #00f155;*/
  padding: 10px;
}



body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}



/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*background: #ccc;*/
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #00f155;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}