<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/assets/main.css">
    <title>{{ page.title | escape }}</title>

    {% for css in layout.css %}
        <link rel="stylesheet" type="text/css" href="/assets/" />
    {% endfor %}

    {% for css in page.css %}
        <link rel="stylesheet" type="text/css" href="/assets/" />
    {% endfor %}
</head>
<body>
<!--   <header>
    <h2>Cities</h2>
  </header> -->

  <section>
    <nav>
      <!-- <ul>
        <li><a href="#">London</a></li>
        <li><a href="#">Paris</a></li>
        <li><a href="#">Tokyo</a></li>
      </ul> -->
      <img id="tag_menu_image" src="https://raw.githubusercontent.com/montanafowler/leilah_website/main/images/fabric-tag-mockup-01.png"></img>
    </nav>
    
    <<!-- article -->>
    {{ content }}
      
      
    <!-- </article> -->
  </section>

  <footer>
    <p>Footer</p>
  </footer>


  

</body>
</html>