---
layout: "header"
---
<ul>

        <li>
      <img class="person_collage" src="https://raw.githubusercontent.com/montanafowler/leilah_website/main/images/test-person.png"></img>
    </li>
    <li>
      <img class="person_collage" src="https://raw.githubusercontent.com/montanafowler/leilah_website/main/images/test-person.png"></img>
    </li>
    <li>
      <img class="person_collage" src="https://raw.githubusercontent.com/montanafowler/leilah_website/main/images/test-person.png"></img>
    </li>
    <li>
      <img class="person_collage" src="https://raw.githubusercontent.com/montanafowler/leilah_website/main/images/test-person.png"></img>
    </li>
    <li>
      <img class="person_collage" src="https://raw.githubusercontent.com/montanafowler/leilah_website/main/images/test-person.png"></img>
    </li>
    <li>
      <img class="person_collage" src="https://raw.githubusercontent.com/montanafowler/leilah_website/main/images/test-person.png"></img>
    </li>
      </ul>
{{content}}
